name: release

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: rust-ubuntu

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [bionic, focal, jammy]
    steps:
      - uses: actions/checkout@v1
      - name: Generate Dockerfile
        id: generate
        run: ./gen.sh ${{ matrix.os }}/Dockerfile.template
      - name: Commit files
        run: |
          git config --local user.email "yasuyuki.ymd@gmail.com"
          git config --local user.name "Yasuyuki YAMADA"
          git commit -a -m "[auto] Generate Dockerfile" || echo "no changes"
          # for backward compatibility
          if [ "$os" = bionic ] ; then
              git tag -f -a ${tag_name} -m "${tag_name} Tagged by CI"
          fi
          git tag -f -a ${os}-${tag_name} -m "${os}-${tag_name} Tagged by CI"
        env:
          tag_name: ${{ steps.generate.outputs.version }}
          os: ${{ matrix.os }}
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
          tags: true
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and push the docker image to ghcr.io
        run: |
          cd ${{ matrix.os }}
          docker build . -t ghcr.io/yasuyuky/rust-ubuntu:$TAGNAME
          # for backward compatibility
          if [ "$os" = bionic ] ; then
              docker tag ghcr.io/yasuyuky/rust-ubuntu:$TAGNAME ghcr.io/yasuyuky/rust-ubuntu:latest
              docker tag ghcr.io/yasuyuky/rust-ubuntu:$TAGNAME ghcr.io/yasuyuky/rust-ubuntu:$VERSION
          fi
          docker push -a ghcr.io/yasuyuky/rust-ubuntu
        env:
          CR_PAT: ${{ secrets.CR_PAT }}
          VERSION: ${{ steps.generate.outputs.version }}
          TAGNAME: ${{ matrix.os }}-${{ steps.generate.outputs.version }}
